.experienceBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar div {
  flex: 1;
  height: 4px;
  margin: 0 1.5rem;
  border-radius: 4px;
  background: var(--gray-line);
  position: relative;
}

.experienceBar > div > div {
  margin: 0;
  background: var(--green);
}

.experienceBar .currentExperience {
  position: absolute;
  padding: 8px;
  transform: translateX(-50%);
}
